/* Styles.css */
/* label, input {
  display: block;
} */

/* For mobile phones: */
/* screen sizes (vertically)
  smaller than 500px */

h3 {
  text-align: center;
  min-width: 80%;
  max-width: 80%;
}

table td span {
  min-width: 100px;

}

button .decrement {
}

button .increment {
}

.table-header {
  min-width: 90px;
  max-width: 90px;
}

/* html, body table {
  height: 100%;
} */
table {
  background-color: #d0ddf2;
  border: 1px solid black;
  min-width: 80%;
  max-width: 80%;
  position: static;
}

th .button-column {
  min-width: 10px;
  max-width: 10px;
}

.button {
  float: right;
  align-items: center;
}

/* tr {
  max-width: 30%;
  min-width: 20%;
} */

.label {
  font-size: 16px;
  text-align: right;
  /* border: 1px solid black; */
}

td .label {
  max-width: 50px;
}

.output {
  background-color: white;
  font-size: 15px;
  text-align: right;
  border: 0.25px solid black;
}

.output span{
    background-color: white;
    padding-right: 5%;
}

.number {
  text-align: right;
  align-items: right;
}

td input {
  float: right;
  text-align: right;
  align-items: right;
  display: block;

}

table input[type=number] {
  align-items: right;
  padding: 0;
}

input[type=number] {
  min-width: 10px;
  max-width: 70px;
  align-items: right;
  text-align: right;
  float: right;
}

.form {
  /* display: flex;
  flex-direction: column; */
  margin: 0 auto;
  min-width: 50%;
}

label {
  text-align: right;
  float: left;
  font-size: 12px;
  /* float: left; */
  /* clear: both; */
}

.block {
  display: block;
}

.dollar{
	display:inline-block;
	position: relative;
	}
.dollar input{
	padding-left:10px;
	}
.dollar:before {
	position: absolute;
    content:"$";
    left:15px;
	top:2px;
 	}

.right {
  text-align: right;
}



@media only screen and (min-width: 600px) {
  /* For tablets: */

}

@media only screen and (min-width: 768px) {
  /* For desktop: */

}
