/* Styles.css */
/* label, input {
  display: block;
} */

/* For mobile phones: */

html, body table {
  height: 100%;
}
table {
  border: 1px solid black;
  min-height: 100%;

  width: auto;
}

.field .right {
  text-align: right;
  align-items: right;
  display: block;
  direction: rtl;
  unicode-bidi: bidi-override;
}

td input {
  text-align: right;
  align-items: right;
  display: block;
}



table input[type=number] {
  align-items: right;
}

input[type=number] {
  min-width: 10px;
  max-width: 70px;
  align-items: right;
  text-align: right;
}

.form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

label {
  text-align: right;
  float: left;
  font-size: 12px;
  /* float: left; */
  /* clear: both; */
}

.block {
  display: block;
}

.dollar{
	display:inline-block;
	position: relative;
	}
.dollar input{
	padding-left:10px;
	}
.dollar:before {
	position: absolute;
    content:"$";
    left:15px;
	top:2px;
 	}

@media only screen and (min-width: 600px) {
  /* For tablets: */

}

@media only screen and (min-width: 768px) {
  /* For desktop: */

}
