/* Styles.css */
/* label, input {
  display: block;
} */

input {
  min-width: 100px;
  max-width: 100px;
  align-items: right;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  with: 80%;
  margin: 0 auto;
}

label {
  text-align: right;
  float: left;
  font-size: 12px;
  /* float: left; */
  /* clear: both; */
}

.block {
  display: block;
}
